{% extends "::base.html.twig" %}

{% block content %}
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="row clearfix">
                    <div>
                        <img src="{{   asset(usuario.getWebFotoPerfilRuta()) }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar" style="max-width: 84px;">
                        <div class="heading-block noborder">
                            <h3>{{ usuario.username }}</h3>
                            <span>{{ usuario.nombre ~ " " ~ usuario.apellidos }}</span>
                        </div>
                        <div class="clear"></div>
                        <div class="row clearfix">
                            <div>
                                <div class="tabs tabs-alt clearfix" id="tabs-profile">
                                    <ul class="tab-nav clearfix">
                                        <li><a href="#tab-info"><i class="icon-rss2"></i> Información </a></li>
                                        <li><a href="#tab-creadas"><i class="icon-pencil2"></i> Competiciones creadas</a></li>
                                        <li><a href="#tab-inscrito"><i class="icon-pencil2"></i> Competiciones en las que juega</a></li>
                                    </ul>
                                    <div class="tab-container">
                                        <div class="tab-content clearfix" id="tab-info">
                                            <p><b>Nombre de usuario:</b> {{ usuario.username}}</p>
                                            <p><b>Email:</b> {{ usuario.email}}</p>
                                            <p><b>Nombre:</b> {{ usuario.nombre}}</p>
                                            <p><b>Apellidos:</b> {{ usuario.apellidos}}</p>
                                            <p><b>Fecha de nacimiento:</b> {{ usuario.fechaNacimiento | date('d/m/Y')}}</p>
                                            <p><b>Teléfono:</b> {{ usuario.telefono}}</p>
                                        </div>
                                        {{ render(controller(
                                            "PadelScheduleMainBundle:Main:competicionesDeUsuario",
                                            { 'idUsuario': usuario.getId() }
                                        )) }}
                                        
                                        {#<div class="tab-content clearfix" id="tab-creadas">
                                            <div id="posts" class="events small-thumbs">
                                                {% for competicion in competicionesCreadas %}
                                                    <div class="entry clearfix">
                                                        <div class="entry-image">
                                                            <a href="#">
                                                                <img src="{{asset('bundles/padelschedulemain/images/default.png')}}" alt="Inventore voluptates velit totam ipsa tenetur">
                                                                <div class="entry-date">{{competicion.fechaInicio|date("d")}}<span>{{competicion.fechaInicio|date("M")}}</span></div>                            
                                                            </a>
                                                        </div>
                                                        <div class="entry-c">
                                                            <div class="entry-title">
                                                                <h2><a href="#">{{ competicion.nombre }}</a></h2>
                                                            </div>
                                                            <ul class="entry-meta clearfix">
                                                                {%if competicion.estado == "Cerrada" %}
                                                                    <li><span class="label label-danger">{{ competicion.estado }}</span></li>
                                                                    {% else %}
                                                                    <li><span class="label label-success">{{ competicion.estado }}</span></li>
                                                                    {% endif %}
                                                                <li><a href="#"><i class="icon-time"></i> 11:00 - 19:00</a></li>
                                                                <li><a href="#"><i class="icon-map-marker2"></i> Lorem Ipsum </a></li>
                                                            </ul>
                                                            <div class="entry-content">
                                                                <p>{{ competicion.descripcion }}</p>
                                                                <a href= "{{ path('competicion', {'idCompeticion': competicion.id }) }}" class="btn btn-danger">Acceder</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="tab-content clearfix" id="tab-inscrito">
                                            <div id="posts" class="events small-thumbs">
                                                {% for competicion in competicionesInscrito %}
                                                    <div class="entry clearfix">
                                                        <div class="entry-image">
                                                            <a href="#">
                                                                <img src="{{asset('bundles/padelschedulemain/images/default.png')}}" alt="Inventore voluptates velit totam ipsa tenetur">
                                                                <div class="entry-date">{{competicion.fechaInicio|date("d")}}<span>{{competicion.fechaInicio|date("M")}}</span></div>                            
                                                            </a>
                                                        </div>
                                                        <div class="entry-c">
                                                            <div class="entry-title">
                                                                <h2><a href="#">{{ competicion.nombre }}</a></h2>
                                                            </div>
                                                            <ul class="entry-meta clearfix">
                                                                {%if competicion.estado == "Cerrada" %}
                                                                    <li><span class="label label-danger">{{ competicion.estado }}</span></li>
                                                                    {% else %}
                                                                    <li><span class="label label-success">{{ competicion.estado }}</span></li>
                                                                    {% endif %}
                                                                <li><a href="#"><i class="icon-time"></i> 11:00 - 19:00</a></li>
                                                                <li><a href="#"><i class="icon-map-marker2"></i> Lorem Ipsum </a></li>
                                                            </ul>
                                                            <div class="entry-content">
                                                                <p>{{ competicion.descripcion }}</p>
                                                                <a href= "{{ path('competicion', {'idCompeticion': competicion.id }) }}" class="btn btn-danger">Acceder</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>  #}                                     
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line visible-xs-block"></div>


            </div>

        </div>

    </div>

</section><!-- #content end -->    
{% endblock content %}