{% extends "::base.html.twig" %}

{% block css %}    
    <!-- Bootstrap select style -->    
    <link rel="stylesheet" href="{{asset('bundles/padelschedulemain/css/components/bs-select.css')}}"/>
    <link rel="stylesheet" href="{{asset('bundles/padelschedulemain/css/components/bs-switches.css')}}"/>    
    <link rel="stylesheet" href="css/components/radio-checkbox.css" type="text/css" />
    <link rel="stylesheet" href="{{asset('bundles/padelschedulemain/css/responsive.css')}}"/>
{% endblock css %}

{% block scripts %}         
    <script src="{{asset('bundles/padelschedulemain/js/components/bs-select.js')}}"></script>
    <script src="{{asset('bundles/padelschedulemain/js/components/bs-switches.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}


{% block title %}Asignación de resultado{% endblock %}

{% block content %} 
    <div class="content-wrap">
        <div class="feature-box fbox-center fbox-plain">
            <div class="fbox-icon">
                <i class="icon-trophy"></i>
            </div>
            <h3>Resultados propuestos para el partido</h3>
            <p>
                {{ partido.inscripcion1.jugador.username }} y {{ partido.inscripcion1.nombrePareja}} vs {{ partido.inscripcion2.jugador.username }} y {{ partido.inscripcion2.nombrePareja}}
            </p>
        </div>
        <div class="container"  style="width:30%">       
            {{ form_start(form, {'attr': {'class': 'inline-block formCalendario'}}) }}
            <table class="table-striped table-bordered text-center"  style="width:100%">
                <thead>
                    <tr>
                        <th colspan="2">Set 1 </th>
                        <th colspan="2">Set 2</th>								
                        <th colspan="2">Set 3</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for resultado in form.resultados %}
                            <td>                             
                                {{ form_widget(resultado, {'attr': {'class': "selectpicker resultado#{loop.index}", 'data-style': 'btn-success', 'data-width': 'fit'} }) }}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>   
            
            
            {{ form_widget(form.send,  {'attr': {'class': 'button button-3d button-small button-rounded button-lime'}, 'label': 'Guardar resultado'}) }}    
            {{ form_end(form) }}
                    
        </div>
    </div>
    <script>
{#Se comprueba si ha sido necesario jugar el tercer set#}
        $(function () {
          $('.resultado5, .resultado6').prop('disabled', true);
            $('.selectpicker').on('change', function(){
                var resultado1 = $('.resultado1').find("option:selected").val();
                var resultado2 = $('.resultado2').find("option:selected").val();
                var resultado3 = $('.resultado3').find("option:selected").val();
                var resultado4 = $('.resultado4').find("option:selected").val();
                if(((resultado1 < resultado2) && (resultado3 > resultado4))
                        || ((resultado1 > resultado2) && (resultado3 < resultado4))){
                    
                    $('.resultado5, .resultado6').prop('disabled', false);    
                }else{
                    $('.resultado5, .resultado6').prop('disabled', true);
                    $('.resultado5, .resultado6').find("option:selected").val(0);
                    
                }
                $('.selectpicker').selectpicker('refresh');
            });
                        
        });

    </script>



{% endblock content %}